body {
  margin: 0 0 40px;
  min-width: 1200px;
}

header {
  height: 80px;
  background-image: linear-gradient(to right, #fcb921, #fa9158);
  padding: 0 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: #ffffff;
  min-width: 400px;
  text-shadow: 1px 2px 3px #808080;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #333;
}

nav {
  display: flex;
  gap: 12px;
}

button {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  background-color: #fff;
  border-radius: 30px;
  border-color: #333;
  padding: 6px 12px;
  width: 200px;
}

.main {
  width: 100%;
  max-width: 1638px;

  margin: 0 auto;
}

.sort-wrap {
  display: flex;
  justify-content: end;
  margin: 12px;
}

.sort {
  font-size: 16px;
  padding: 4px;
}

.card {
  width: 530px;
  height: 300px;
  background: #b0e750;
  display: flex;
  justify-content: space-around;
}

.img-wrap {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 75px;
  background-color: #c2efa0;
}

.profile {
  margin-top: 36px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  list-style: none;
}

/* inputPage */

h2 {
  margin-left: 200px;
  font-size: 36px;
}

.input-container {
  width: 1200px;
  margin: 48px auto;
  display: flex;
}

.input-wrap {
  width: 1000px;
  margin-left: 24px;
  border: 1px solid #000;
  height: 600px;
  display: flex;
  justify-content: space-around;
}

.img-c-wrap {
  display: flex;
  flex-direction: column;
}

.img-select {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #ff9717;
  margin: 64px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-select_text {
  font-size: 24px;
  font-weight: bold;
}

.color-select {
  margin-top: 64px;
  font-size: 20px;
  font-weight: bold;
}

.color-bar {
  margin-top: 24px;
  width: 350px;
  height: 30px;
  background: linear-gradient(
    to right,
    #f00,
    #ff0,
    #0f0,
    #0ff,
    #00f,
    #f0f,
    #f00
  );
}

.input-wrap_r {
  font-size: 24px;
  margin-top: 80px;
  margin-left: -120px;
}

.input-field {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 24px;
}

input {
  width: 350px;
}

textarea {
  width: 350px;
  height: 200px;
  resize: none;
}

.exp-wrap {
  margin-left: 50px;
  border: 1px solid #000;
  width: 300px;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}

.btn-wrap {
  display: flex;
  justify-content: end;
  margin-right: 200px;
}

.confirm-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirm-btn-wrap {
  display: flex;
  gap: 36px;
  margin-top: 24px;
}
